.itemform {
    display: flex;
    width: 100%;
    flex-direction: column;
}


/* Komerokategorian valintanapit */

.itemform__category-bar {
    display: flex;
    flex-wrap: wrap;
    width: 13rem;
    align-self: center;
    justify-content: space-between;
    align-items: center;
}

.itemform__category-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemform__category-wrapper input {
    display: none;
}

.itemform__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdece7;
    height: 3rem;
    width: 3rem;
    padding: 0.4rem;
    margin-bottom: 0.5rem;
    border-radius: 50%;
}

.itemform__img-wrapper img {
    align-self: center;
    opacity: 0.6;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    height: 65%; 
}

.itemform__img-wrapper img:hover {
    opacity: 1;
}

input[type=radio]:checked + .itemform__img-wrapper {
    padding: 0.32rem;
    border: 0.08rem solid #f18c8e;
}

input[type=radio]:checked + .itemform__img-wrapper > img {
    opacity: 1;
} 

.itemform__category-legend {
    text-align: center;
    font-size: 0.8em;
    margin: 0.5em 0 1em 0;
}


/* Muu lomake */

.itemform__row {
    display: flex;
}

.itemform__row > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0.6em 0.3em;
    flex: 1 1 auto;
}

.itemform__div--bold {
    font-weight: 600;
    letter-spacing: 0.1em;
}

#itemform__colorpicker {
    width: 3em;
    flex: 0 0 auto;
}

#itemform__colorpicker input {
    padding: 1px 2px;
    height: calc(100% - 0.5rem);
}

.itemform__row-2cells {
    width: 50%;
}

.itemform__button-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 100%;
    margin-top: 1.5em;
}

.itemform input, .itemform select, .itemform textarea {
    padding: 0.5em 0.5em 0.5em 0.7em;
    border: none;
    background-color: #fdece7;
    border-radius: 0.2em;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box; /* Tekee lomakkeen osasista samoilla mitoilla samankokoisia.  */
    outline: none;
    width: 100%;
}

.itemform input, .itemform textarea {
    padding-left: 1em;
    resize: none;
}

/* Hidastaa automaattisen täydennyksen pakottamaa kentän värin muutosta */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 10000s ease-in-out 0s;
}


.itemform label {
    font-size: 0.8em;
    margin-bottom: 0.2em;
}