.menu {
  background-color: #305f72;  
  max-height: 3rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
}

.menu__container {
  width: 50%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__button > img {
  height: 18px;
}