.itemcard-wrapper {
	margin: 0 0.7rem;
	border-bottom: 1px solid gainsboro;
	color: #555;
}
.itemcard {
	display: flex;
}

.itemcard__flex {
	display: flex;
	flex-direction: column;
}


/* Vasemmanpuoleinen div - väripallura */

.itemcard__color-div {
	align-items: center;
	margin-top: 0.8em;
	min-width: 45px;
	flex: 0 0 15%; 
}

.itemcard__color {
	padding: 0 0.4em;
}

.itemcard__color-dot {
	width: 1.2em;
	height: 1.2em;
	margin-top: 0.5em;
	border-radius: 50%;
	align-self: center;
	opacity: 0.9;
}

.itemcard__color-dot--border {
	border: 1px solid #ccc;
	transform: scale(0.9);
}

.itemcard_img {
	width: 40px;
	height: 40px;
	border: 2px solid var(--vaalea-tehostevari);
}


/* Keskimmäinen div - nimike ja huomioita */

.itemcard__label-notes-div {
	flex: 1 1 auto;
	margin: 1rem 0.8rem 0 0.8rem;
}

.itemcard__label {
	font-family: "Open Sans", sans-serif;
	font-size: 1.2em;
	margin-bottom: 0.3em; 
}

.itemcard__notes {
	font-size: 85%;
	color: #666;
	margin: 0 0 0.7em 1em;
}

.itemcard__label-notes-div--margin {
 	margin-bottom: 0.8em;
}

/* Oikeanpuoleinen div - koko */

.itemcard__size-div {
	flex: 1 1 auto;
	align-items: flex-end;
	min-width: 2em;
	margin-top: 1em;
	padding: 0.15em 1em 0 0.8em;
}

.itemcard__size {
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 1.1em;
	text-align: right;
}   


/* Linkkinuoli muokkaussivulle, joka tulee näkyviin, kun osoitin on itemcardin päällä */
  
.itemcard__link {
	flex: 1 1 auto;
	max-width: 3rem;
	min-width: 3rem;
	background-color: #fbebe6;
	justify-content: center;
	align-items: center;
}

.itemcard:hover .itemcard__link {
    display: flex;
}

.itemcard__link a {
    color: #000;
}