.button {
    background-color: #fff;
    color: #000;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    opacity: 0.9;
}

.button:active {
    background-color: none;
}

.button:hover {
    opacity: 1;
}

.button--rectangle {
    margin: 0 0.4em 0.3em 0.4em;
    min-width: 8rem;
    font-family: "Permanent Marker", cursive;
    font-weight: bold;
    font-size: 1.7rem;
    opacity: 1;
}

.button--primary {
    background-color: #fff;
    color: var(--tumma-tehostevari);
}

.button--primary:active {
    color: #f0b7a4;
    opacity: 1;
}

.button--primary:hover {
    transform: scale(1.1);
}

.button--secondary {
    background-color: #fff;
    color: rgb(136, 136, 136);
}

.button--secondary:active {
    color: #cfcfcf;
    opacity: 1;
}

.button--secondary:hover {
    transform: scale(1.1);
}

.button:disabled {
    background-color: #fff;
    color: #999;
    box-shadow: none;
}

/* Floating Action Button */

.button--floating {
    background-color: var(--tumma-tehostevari);
    opacity: 1;
    font-family: "Permanent Marker", cursive;
    color: #fff;
    margin: 0;
    padding-bottom: 0.5rem;
    z-index: 1;
    border-radius: 50%;
    font-size: 2.5rem;
    max-width: none;
    width: 4rem;
    height: 4rem;
    box-shadow: 0 0px 2px 5px #fff;
}

.button--floating:hover {
    transform: scale(1.1);
}

.button--floating:active {
    background-color: #f0b7a4;
}