.itemform__header-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.itemform__categories-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    flex-grow: 1;
    margin: 1rem 1rem 0;
}

.itemform__category-wrapper--big {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0 1rem 1.5rem;
    flex-grow: 1;
    max-width: 45vw;
}

.itemform__category-bar {
    display: flex;
    flex-wrap: wrap;
    width: 13rem;
    /*align-self: center;*/
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.itemform__category-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemform__category-wrapper input {
    display: none;
}

.itemform__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vaalea-tehostevari);
    height: 3rem;
    width: 3rem;
    padding: 0.4rem;
    margin-bottom: 0.5rem;
    border-radius: 50%;
}

.itemform__img-wrapper--big {
    height: 4.5rem;
    width: 4.5rem;
    padding: 0.6rem;
    margin-bottom: 0;
    position:relative;
}

.itemform__img-wrapper img {
    align-self: center;
    opacity: 0.6;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    height: 65%; 
}

.itemform__img-wrapper img:hover {
    opacity: 1;
}

input[type=radio]:checked + .itemform__img-wrapper {
    padding: 0.32rem;
    border: 0.08rem solid var(--tumma-tehostevari);
}

input[type=radio]:checked + .itemform__img-wrapper > img {
    opacity: 1;
} 

.itemform__category-legend {
    white-space: nowrap;
    text-align: center;
    font-size: 0.8em;
    margin: 0.5em 0 1em 0;
}

.itemform__category-legend--big {
    position: absolute;
    top: -20px;
    left: -20px;
    transform: rotate(-25deg);
    width: 4.5em;
    text-align: center;
}

.itemform__nimikkeenKuva-wrapper {
    display:flex;
    justify-content: flex-end;
    position: relative;
}

.itemform__photo-wrapper--overlay {
    opacity: 0.5;
}

.itemform__photo-wrapper--big {
    width: 50vw;
    height: 50vw;
    max-width: 15em;
    max-height: 15em;
    border-radius: 0 0 0 75%;
    object-fit: cover;
    border-left: 8px solid var(--vaalea-tehostevari);
    border-bottom: 8px solid var(--vaalea-tehostevari);
    flex-grow: 1;
}

.itemform__photo-wrapper--small {
    width: 5rem;
    height: 5rem;
    background-color: var(--vaalea-tehostevari);
    border-radius: 0 0 0 100%;
    -moz-border-radius: 0 0 0 100%;
    -webkit-border-radius: 0 0 0 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.itemform__photo-icon {
    margin-right: 1rem;
    margin-top: 1rem;
}

.itemform__kuvaikoni-wrapper {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding-top:3px;
    padding-left: 3px;
    padding-right: 3px;
    display: flex;
    align-items: center;
}

.itemform__kuvaikoni-wrapper > div {
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 3px;
    padding-right: 3px;
}

.itemform__fileInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.itemform__fileInput + label {
    cursor: pointer;
    opacity: 0.6;
    padding: 0.3rem 0.3rem 0;
}

.itemform__fileInput:focus + label,
.itemform__fileInput + label:hover {
    opacity: 1;
}

.itemform__fileInput:focus + label {
	outline: 2px solid var(--tumma-tehostevari);
}