/* Header */

.items__header {
    display: flex;
    align-items: center;
    margin: 2rem 0 1rem 2rem; 
}

.items__header-h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
}


/* Floating Action Buttonin asemointi */

.items__wrapper {
    margin: 0 auto;
    position: relative;
    width: 80%;
}

.items__fab-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4em;
}

.items__fab-wrapper > a {
    text-decoration: none;
    position: fixed;
    bottom: 1rem;
    width: 4em;
    height: 4em;
}