.header {
  background: 
    linear-gradient(
      -25deg, 
      #305f72 55%, 
      #f0b7a4 55.5%);
  color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 0.5rem;
  max-height: 2.5em;
  min-height: 2.5em;
  }
  
.header h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.8rem;

  align-self: flex-end;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.subHeader {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  align-self: center;
}

.mainHeader-wrapper {
  display: flex;
  justify-content: flex-end;
}

.mainHeader-wrapper button {
  padding: 0;
  min-width: 50px;
  margin-top: 0.4rem;
}