@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto|Permanent+Marker');

* {
  margin: 0;
  padding: 0;
}


.App {
  max-width: 30em;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #222;
}

.App > * {
  flex: 1 1 auto;
}
